html {
    background-color: #313131;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-color {
    background-color: #ca4d56;
    color: white;
}

.primary-color-light {
    background-color: #d9737a;
    color: white;
}

.secondary-color {
    background-color: #ddd;
    color: #666666;
}

.margin-top {
    margin-top: 28px;
}

.content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}