@media screen and (min-width: 701px) {
    .technologies-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.technology-item {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
}

.technology-desc {
    flex: 1;
}

.project-tags {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
