html {
  background-color: #313131;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  text-align: center;
}

.primary-color {
  background-color: #ca3e47;
  color: white;
}

.primary-color-light {
  background-color: #d9737a;
  color: white;
}

.secondary-color {
  background-color: #ddd;
  color: #666666;
}

.content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (min-width: 601px) {
  .content h3 {
    font-size: 28px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .content h3 {
    font-size: 24px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .content h3 {
    font-size: 20px;
  }

  .title {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }
}